<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="authUser" type="com.javarush.jira.login.AuthUser"*/-->

<th:block th:replace="~{layout/main::page(title=#{index.title},appMain=~{::appMain})}">
    <appMain>
        <h1 th:text="#{index.head}"></h1>
        <div th:if="${authUser} != null">
            <form action="/ui/logout" method="post">
                <button class="btn btn-primary btn-lg mt-3" type="submit" th:text="#{index.button_logout}"></button>
            </form>
        </div>
    </appMain>
</th:block>
